<% layout('layouts/boilerplate.ejs') %>


<main>
    <div class="form">
        <h1>Submit a New Event</h1>
        <form action='/events/new' method="POST" id="newEvent" class="eventForm" data-formtype="newSubmission" enctype="application/x-www-form-urlencoded">


        <%- include('../partials/eventforms.ejs') %>

        <div>
            <button class="btn-blue">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>

<script>
    const recordId = null
</script>
<script type="module" src="/dist/event.bundle.js"></script>