<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="warning-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-red" id="timerButton">Click to continue working.</button>
    </div>
</div>



<main>
    <div class="form">
        <h1>Review Submission</h1>
        <% if (currentUser.role === 'admin' && !data.author[0].equals(currentUser._id) && data.state === 'new') {%>
            <form action="/events/review/<%= data._id %>" method="POST" id="publishEvent" class="eventForm" data-formtype="publishSubmission" enctype="application/x-www-form-urlencoded">
        <% } %> 
        <% if (currentUser.role === 'admin' && !data.author[0].equals(currentUser._id) && data.state === 'update') {%>
            <form action="/events/review/<%= data._id %>?_method=PUT" method="POST" id="publishEvent" class="eventForm" data-formtype="publishSubmission" enctype="application/x-www-form-urlencoded">
        <% } %> 
 

        <%- include('../partials/eventforms.ejs') %>
        
        <div class="form-field">
            <label for="adminNotes">Admin Comments</label>
            <textarea class="admin-notes" id="adminNotes" name="adminNotes" rows="5" maxlength="500"></textarea>
        </div>
        <div class="form-field">
            <button class="btn-blue">Publish</button>
        </div>
    </form>
        <div class="form-field">
            <button class="btn-red reject-record">Reject</button>
        </div>
        <div id="warning"></div>
    </div>
    
</main>

<script>
    const recordId = '<%- data._id %>'
</script>
<script type="module" src="/dist/event.bundle.js"></script>

