<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="warning-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-red" id="timerButton">Click to continue working.</button>
    </div>
</div>

<main>
    <div class="form">
        <h1>Submit Update</h1>
        <form action="/events/<%= data.slug %>/edit" method="POST" id="updatePublicEvent" class="eventForm" data-formtype="updatePublicSubmission" enctype="application/x-www-form-urlencoded">


        <%- include('../partials/eventforms.ejs') %>

        <div>
            <button class="btn-blue">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>

<script>
    const recordId = '<%- data._id %>'
</script>
<script type="module" src="/dist/event.bundle.js"></script>