
<div class="flash-container">
<% if(info && info.length) { %> 
    <div class="flash-info">
        <%= info %> 
    </div>
    <% } %>
</div>

<div class="flash-container">
<% if(error && error.length) { %> 
    <div class="flash-error">
        <%= error %> 
    </div>
    <% } %>
</div>