<% layout('layouts/boilerplate.ejs') %>

<% if(!err.message) { %>
<h4><%= err %></h4>
<% } %>
<h4><%= err.message %></h4>

<% if (process.env.NODE_ENV !== "production") { %> 
<p><%= err.stack  %> </p>
<% } %> 

