<% layout('layouts/boilerplate.ejs') %>

<main>
    <div class="form">
        <h1>Submit a Source</h1>
        <form action='/sources/new' method="POST" id="newSource" enctype="multipart/form-data">
        <div class="form-field">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required autofocus>
        </div>
        <div class="form-field">
            <label for="media-type">Media Type</label>
            <select name="mediaType" id="mediaType">
                <option value="default">----Select a Media----</option>
                <% for(let mediaType of mediaTypes) { %>
                    <option value="<%= mediaType %>"><%= mediaType %></option>
                <% } %> 
            </select>
        </div>
        <div class="form-field">
            Upload Image
            <div class="file-name" id="file-name"></div>
            <input type="file" name="sourceImage" id="sourceImage" class="inputfile">
            <label for="sourceImage" class="btn-browse">Browse...</label>
        </div>
        <div class="imgpreview-wrapper">
            <img src="" class="image-preview">
        </div>  

        <div class="hide-sources" id="book-fields">
            <div class="form-field">
                <label for="book-author">Author(s)</label>
                    <input type="text" class="book-author" name="book[author][]">
                <a href="#" id="add-author">Add another author</a>
            </div>
            <div class="form-field">
                <label for="book-series">Series</label>
                <input type="text" id="book-series" name="book[series]">
            </div>
            <div class="form-field">
                <label for="publisher">Publisher</label>
                <input type="text" id="publisher" name="book[publisher]">
            </div>
            <div class="form-field">
                <label for="bookReleaseDate">Initial Release Date</label>
                <input type="date" class="date" id="bookReleaseDate" name="book[releaseDate]" min="1977-05-25">
            </div>
            <div class="form-field">
                <label for="isbn10">ISBN-10</label>
                <input type="text" id="isbn10" name="book[isbn10]">
            </div>
        </div> 
        <div class="hide-sources" id="movie-fields">
            <div class="form-field">
                <label for="movie-director">Director(s)</label>
                    <input type="text" id="movie-director" class="movie-director" name="movie[director][]">
                <a href="#" id="add-director">Add another director</a>
            </div>
            <div class="form-field">
                <label for="movie-writer">Writer(s)</label>
                    <input type="text" id="movie-writer" class="movie-writer" name="movie[writer][]">
                <a href="#" id="add-writer">Add another writer</a>
            </div>
            <div class="form-field">
                <label for="movieReleaseDate">Initial Release Date</label>
                <input type="date" class="date" id="movieReleaseDate" name="movie[releaseDate]" min="1977-05-25">
            </div>
        </div> 
        <div class="hide-sources" id="comic-fields">
            <div class="form-field">
                <label for="comic-writer">Writer</label>
                <input type="text" id="comic-writer" name="comic[writer]">
            </div>
            <div class="form-field">
                <label for="art-contributor">Art Contributor(s)</label>
                    <input type="text" id="art-contributor" class="art-contributor" name="comic[artContributor][]">
                <a href="#" id="add-artist">Add another art contributor</a>
            </div>
            <div class="form-field">
                <label for="comic-series">Series</label>
                <input type="text" id="comic-series" name="comic[series]">
            </div>
            <div class="form-field">
                <label for="comic-issue">Issue</label>
                <input type="number" id="comic-issue" name="comic[issue]" mix="0">
            </div>
            <div class="form-field">
                <label for="comicReleaseDate">Initial Release Date</label>
                <input type="date" class="date" id="comicReleaseDate" name="comic[releaseDate]" min="1977-05-25">
            </div>
        </div> 
        <div class="hide-sources" id="tv-fields">
            <div class="form-field">
                <label for="tv-series">Series</label>
                <input type="text" id="tv-series" name="tv[series]">
            </div>
            <div class="form-field">
                <label for="tv-season">Season</label>
                <input type="number" id="tv-season" name="tv[season]" min="1">
            </div>
            <div class="form-field">
                <label for="tv-episode">Episode</label>
                <input type="number" id="tv-episode" name="tv[episode]" min="1">
            </div>
            <div class="form-field">
                <label for="tvReleaseDate">Initial Release Date</label>
                <input type="date" class="date" id="tvReleaseDate" name="tv[releaseDate]" min="1977-05-25">
            </div>
        </div> 
        <div class="hide-sources" id="game-fields">
            <div class="form-field">
                <label for="vg-studio">Production Studio</label>
                <input type="text" id="vg-studio" name="videoGame[studio]">
            </div>
            <div class="form-field">
                <label for="vg-publisher">Series</label>
                <input type="text" id="vg-publisher" name="videoGame[publisher]">
            </div>
            <div class="form-field">
                <label for="vgReleaseDate">Initial Release Date</label>
                <input type="date" class="date" id="vgReleaseDate" name="videoGame[releaseDate]" min="1977-05-25">
            </div>
        </div> 

        <div>
            <button class="btn-submit">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>

<script type="module" src="/js/newSource.js"></script>
