<% layout('layouts/boilerplate.ejs') %>


<main>
    <div class="form">
        <h1>Submit a New Source</h1>
        <form action='/sources/new' method="POST" id="newSource" class="sourceForm" data-formtype="newSubmission" enctype="multipart/form-data">


        <%- include('../partials/sourceforms.ejs') %>

        <div>
            <button class="btn-blue">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>

<script>
    const sourceId = null
</script>
<script type="module" src="/dist/main.bundle.js"></script>