<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="warning-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-red" id="timerButton">Click to continue working.</button>
    </div>
</div>



<main>
    <div class="form">
        <h1>Review Submission</h1>
        <% if (currentUser.role === 'admin' && !data.author[0].equals(currentUser._id) && data.state === 'new') {%>
            <form action="/sources/review/<%= data._id %>" method="POST" id="publishSource" class="sourceForm" enctype="multipart/form-data">
        <% } %> 
        <% if (currentUser.role === 'admin' && !data.author[0].equals(currentUser._id) && data.state === 'update') {%>
            <form action="/sources/review/<%= data._id %>?_method=PUT" method="POST" id="publishSource" class="sourceForm" enctype="multipart/form-data">
        <% } %> 
 

        <%- include('../partials/sourceforms.ejs') %>
        
        <div class="form-field">
            <label for="adminNotes">Admin Comments</label>
            <textarea id="adminNotes" name="adminNotes" rows="5" maxlength="500" required></textarea>
        </div>
        <div class="form-field">
            <button class="btn-blue">Publish</button>
        </div>
        <div class="form-field">
            <button class="btn-red reject-record">Reject</button>
        </div>
    </form>
        <div id="warning"></div>
    </div>
    
</main>



<script>
    const sourceId = '<%- data._id %>'
</script>
<script type="module" src="/js/editSource.js"></script>
<!-- <script type="module" src="/js/publishSource.js"></script> -->
