<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="warning-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-delete" id="timerButton">Click to continue working.</button>
    </div>
</div>



<main>
    <div class="form">
        <h1>Review Submission</h1>
        <% if (currentUser.role === 'admin' && !data.author[0].equals(currentUser._id) && data.state === 'new') {%>
            <form action="/sources/review/<%= data._id %>" method="POST" id="editSource" enctype="multipart/form-data">
        <% } %> 
        <% if (currentUser.role === 'admin' && !data.author[0].equals(currentUser._id) && data.state === 'update') {%>
            <form action="/sources/review/<%= data._id %>?_method=PUT" method="POST" id="editSource" enctype="multipart/form-data">
        <% } %> 
 

        <%- include('../partials/sourceforms.ejs') %>

        <div>
            <button class="btn-submit">Publish</button>
        </div>
        <div id="warning"></div>
        </form>
        <div>
            <button class="btn-delete reject-record">Reject</button>
        </div>
    </div>
</main>



<script>
    const sourceId = '<%- data._id %>'
</script>
<script type="module" src="/js/publishSource.js"></script>
