<% layout('layouts/boilerplate.ejs') %>

<h1>Source Data</h1>
    <div>Title: <%= publicSourceData.title %></div>
    <div>Type: <%= publicSourceData.mediaType %></div>
    <div>Most Recent Contributors: <%= publicSourceData.author[0].username %></div>    