<% layout('layouts/boilerplate.ejs') %>

<h1>Source Data</h1>
    <div>Title: <%= sourceData.title %></div>
    <div>Type: <%= sourceData.mediaType %></div>
    <div>Most Recent Contributors: <%= sourceData.author[0].username %></div>    