<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="warning-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-red" id="timerButton">Click to continue working.</button>
    </div>
</div>

<main>
    <div class="form">
        <h1>Submit Update</h1>
        <form action="/sources/<%= data.slug %>/edit" method="POST" id="updatePublicSource" class="sourceForm" data-formtype="updatePublicSubmission" enctype="multipart/form-data">


        <%- include('../partials/sourceforms.ejs') %>

        <div>
            <button class="btn-blue">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>

<script>
    const recordId = '<%- data._id %>'
</script>
<script type="module" src="/dist/source.bundle.js"></script>