<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="countdown-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-delete" id="timerButton">Click to continue working.</button>
    </div>
</div>

<main>
    <div class="form">
        <h1>Edit Submission</h1>
            <form action="/sources/review/<%= data._id %>/edit?_method=PUT" method="POST" id="editSource" enctype="multipart/form-data">

        
        <%- include('../partials/sourceforms.ejs') %>

        <div>
            <button class="btn-submit">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>



<script>
    const sourceId = '<%- data._id %>'
</script>
<script type="module" src="/js/editReviewSource.js"></script>

