<% layout('layouts/boilerplate.ejs') %>


<div id="timeline-container" class="timeline-container">
    <div id="event-div" class="event-div"></div>
        <svg></svg>
    </div>

<script src="https://unpkg.com/d3@7.3.0/dist/d3.min.js"></script>
<script type="module" src="/js/timeline.js"></script>