<% layout('layouts/boilerplate.ejs') %>


<h1>This is your dashboard <%= currentUser.username %></h1>

<h2>Here are your pending submissions: </h2>

<% for (let pendingRequest of viewablePendingRequests) { %>
    <div><%= pendingRequest.title %> for <%= pendingRequest.mediaType %> by <%= pendingRequest.author.username %>  ADD EDIT LINK!</div>  
<% } %>  