<% layout('layouts/boilerplate') %>

<main>
    <div class="form">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div class="form-field">
                <label for="username">Username</label>
                <input  type="text" id="username" name="username" required autofocus>
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <div class="toggle-password">
                    <a href="#" id="togglePassword">View/Hide Password</a>
                </div>
            <div>
                <button class="btn-submit">Login</button>
            </div>
        </form>
    </div>
</main>

<script type="module" src="/js/loginPassword.js"></script>