<% layout('layouts/boilerplate') %>

<main>
    <div class="form">
    <h1>Reset Password</h1>
        <form action="/resetpassword?_method=PATCH" method="POST" id='resetForm'>
            <div class="form-field">
                <label for="password">Current Password</label>
                <input type="password" id="oldPassword" name="oldPassword" autofocus required>
                <div class="toggle-password">
                    <a href="#" id="togglePasswordOld">View/Hide Password</a>
                </div>
            </div>

            <div class="form-field">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <div class="toggle-password">
                    <a href="#" id="togglePasswordNew">View/Hide Password</a>
                </div>
            </div>
            <div>
                <button class="btn-blue">Reset Password</button>
            </div>
            <div>
                <div id="length" class='password-requirements'>
                    Your password must be between 8 and 32 characters.
                </div>
                <div id="numbers" class='password-requirements'>
                    Your password must contain at least one number.
                </div>
                <div id="symbols" class='password-requirements'>
                    Your password must contain at least one symbol (!, @, #, %, &).
                </div>
                <div id="uppercase" class='password-requirements'>
                    Your password must contain at least one upper case letter.
                </div>
                <div id="lowercase" class='password-requirements'>
                    Your password must contain at least one lower case letter.
                </div>
            </div>
        </form>
    </div>
</main>




<script type="module" src="/js/resetPassword.js"></script>